    <aside
      class="sidebar sidebar-default sidebar-white sidebar-base navs-rounded-all"
    >
      <div
        class="sidebar-header d-flex align-items-center justify-content-start"
      >
        <a href="../dashboard/admin.html" class="navbar-brand">
          <!--Logo start-->
          <div class="logo-main">
            <svg width="30" height="28" class="Navbar_navbar__left_logo__icon__vXe2w" viewBox="0 0 20 28" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M11.2815 27.3572H11.1935C6.53364 27.3342 2.2932 24.6524 0.262285 20.4404C-0.370939 19.1185 0.181103 17.53 1.50167 16.8941C2.81818 16.2582 4.40124 16.8129 5.03447 18.1348C6.17644 20.5121 8.56726 22.0262 11.1935 22.0424H11.2815C13.901 22.0248 16.2891 20.5175 17.4338 18.1511C18.0697 16.8291 19.6568 16.2784 20.9733 16.9171C22.2898 17.5557 22.8392 19.1483 22.2019 20.4702C20.1615 24.666 15.9278 27.3369 11.2815 27.3572Z" fill="#573CD6"></path>
              <path d="M8.07886 12.0122C6.88007 13.9092 7.43887 16.4245 9.32772 17.6314C11.2166 18.8356 13.7251 18.2741 14.9239 16.3772L17.9317 11.6577L11.0853 7.26846L8.07886 12.0122Z" fill="#FF795C"></path>
              <path d="M19.6813 1.28264C17.8033 0.0757207 15.3042 0.626409 14.0986 2.51255C14.0946 2.51932 14.0892 2.52879 14.0851 2.53555L11.0854 7.2685L17.9318 11.6578L20.9315 6.90047C22.1303 5.0035 21.5715 2.4882 19.6827 1.28128L19.6813 1.28264Z" fill="#573CD6"></path>
            </svg>
          </div>
          <!--logo End-->

          <h4 class="logo-title">Cuida Salud</h4>
        </a>
        <div class="sidebar-toggle" data-toggle="sidebar" data-active="true">
          <i class="icon">
            <svg
              width="20"
              height="20"
              viewBox="0 0 24 24"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.25 12.2744L19.25 12.2744"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
              <path
                d="M10.2998 18.2988L4.2498 12.2748L10.2998 6.24976"
                stroke="currentColor"
                stroke-width="1.5"
                stroke-linecap="round"
                stroke-linejoin="round"
              ></path>
            </svg>
          </i>
        </div>
      </div>
      <div class="sidebar-body pt-0 data-scrollbar">
        <div class="sidebar-list">
          <!-- Sidebar Menu Start -->
          <ul class="navbar-nav iq-main-menu" id="sidebar-menu">
            <li class="nav-item static-item">
              <a class="nav-link static-item disabled" href="#" tabindex="-1">
                <span class="default-icon">Inicio</span>
                <span class="mini-icon">INICIO</span>
              </a>
            </li>
            <li class="nav-item" id="menu-principal" style="display: none;">
              <a
                class="nav-link"
                aria-current="page"
                href="../dashboard/admin.html"
              >

                <span class="item-name">Principal</span>
              </a>
            </li>
            <li><hr class="hr-horizontal" /></li>
            <li class="nav-item static-item">
              <a class="nav-link static-item disabled" href="#" tabindex="-1">
                <span class="default-icon">Módulos</span>
                <span class="mini-icon">MODULO</span>
              </a>
            </li>
            <li class="nav-item" id="menu-producto" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/productos.html"
                role="button"
              >
    
                <span class="item-name">Productos</span>
              </a>
            </li>

            <li class="nav-item" id="menu-cliente" style="display: none;">
              <a
                class="nav-link active"
                href="../dashboard/clientes.html"
                role="button"
              >

                <span class="item-name">Clientes</span>
              </a>
            </li>

            <li class="nav-item" id="menu-pedido" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/pedidos.html"
                role="button"
              >

                <span class="item-name">Pedidos/Solicitudes</span>
              </a>
            </li>

            <li class="nav-item" id="menu-seguimiento" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/seguimientos.html"
                role="button"
              >

                <span class="item-name">Seguimientos</span>
              </a>
            </li>

            <li class="nav-item" id="menu-motorizado" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/motorizados.html"
                role="button"
              >

                <span class="item-name">Motorizados</span>
              </a>
            </li>

            <li class="nav-item" id="menu-agentes" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/agentes.html"
                role="button"
              >

                <span class="item-name">Agentes</span>
              </a>
            </li>

            <li class="nav-item" id="menu-esquemas" style="display: none;">
              <a
                class="nav-link"
                href="../dashboard/esquemas.html"
                role="button"
              >

                <span class="item-name">Esquemas</span>
              </a>
            </li>

            <li><hr class="hr-horizontal" /></li>
          </ul>
          <!-- Sidebar Menu End -->
        </div>
      </div>
      <div class="sidebar-footer"></div>
    </aside>